<html>
<head>
    <title>PROJECT</title>
</head>
<body>
    <p>BLOOD PRESSURE</p>
    <form action="bp" method="post">
        {% csrf_token %}
        <label>Month1:</label>
        <input type="text" name="Jan" placeholder="enter your month"></br></br>


        <label>Month2:</label>
        <input type="text" name="Feb" placeholder="enter your month"></br></br>


        <label>Month3:</label>
        <input type="text" name="Mar" placeholder="enter your month"></br></br>


        <label>Month4:</label>
        <input type="text" name="Apr" placeholder="enter your month"></br></br>


        <label>Month5:</label>
        <input type="text" name="May" placeholder="enter your month"></br></br>

        <label>Month6:</label>
        <input type="text" name="Jun" placeholder="enter your month"></br></br>


        <label>Month7:</label>
        <input type="text" name="Jul" placeholder="enter your month"></br></br>


        <label>Month8:</label>
        <input type="text" name="Aug" placeholder="enter your month"></br></br>


        <label>Month9:</label>
        <input type="text" name="Sep" placeholder="enter your month"></br></br>


        <label>Month:10</label>
        <input type="text" name="Oct" placeholder="enter your month"></br></br>


        <label>Month11:</label>
        <input type="text" name="Nov" placeholder="enter your month"></br></br>


        <label>Month12:</label>
        <input type="text" name="Dec" placeholder="enter your month"></br></br>

        <input type="submit" name="sign-in" value="Sign In">
        <a href="#">
            <button type="button"><span>GRAPH</span></button>
        </a>
    </form>
</body>
</html>