{% load static %}
<html>
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" type="text/css" href="{% static 'regis.css' %}">
</head>
<body>
    <div class="box">
        <h2>REGISTRATION</h2>

        <form action="register" method="post">
            {% csrf_token %}
            <div class="inputBox">

                <input type="text" name="first_name" placeholder="First Name" />
                <input type="text" name="last_name" placeholder="Last Name" />
                <input type="text" name="username" placeholder="UserName" />
                <input type="email" name="email" placeholder="Email" required onkeyup="this.setAttribute('value', this.value);" value="">
                <input type="password" name="password1" placeholder="Password" required value=""
                       onkeyup="this.setAttribute('value', this.value);"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <input type="password" name="password2" placeholder="ConfirmPassword" required value=""
                       onkeyup="this.setAttribute('value', this.value);"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">


                <input type="submit" name="sign-in" value="Sign In">
                {% for message in  messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>
        </form>
        
    </div>

    <div>
     
    </div>

</body>
</html>